/* @media ( max-width: 734px landscape ){
    h1 {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 5em;
        font-family: sans-serif;
        text-transform: uppercase;
    }
} */

@media ( max-width: 768px ) {
    body {
        width: 31.2em;
        margin: 0;
        padding: 0;
        background: rgb(230,230,230);
        color: rgb(50,50,50);
        font-family: 'Open Sans', sans-serif;
        font-size: 75.5%;
        line-height: 1.6em;
    }
    .video {
        height: 54em;
        background: #000;
        overflow: hidden;
        width: 40em;
    }
   

    section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 37em;
        background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
        mix-blend-mode: color;
        pointer-events: none;
    }

    .nav ul {
        padding-right: 2em;
    }

    .nameOne {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 3em;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 5em;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .nameTwo {
        margin: 0;
    padding: 0;
    position: absolute;
    top: 9.5em;
    left: 6em;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    font-size: 2em;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-left: .3em;
    }

    .About h3  {
        position: relative;
        left: 2em;
        font-size: 1.5em;
    }
    

    .timeline {
        position: relative;
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 1em 0;
        list-style-type: none;
        left: -4em;
    }

    footer {
        position: relative;
        left: 3em;
        font-size: .9em;
        width: 43em;
    }
}
    

@media ( max-width: 375px)  {
    body {
        width: 31.2em;
        margin: 0;
        padding: 0;
        background: rgb(230,230,230);
        color: rgb(50,50,50);
        font-family: 'Open Sans', sans-serif;
        font-size: 75.5%;
        line-height: 1.6em;
    }

    .video {
        height: 50vh;
        /* background: #000; */
        overflow: hidden;
    }

    section.video::before {
        content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
    mix-blend-mode: color;
    pointer-events: none;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        /* margin: .5em; */
        padding-top: 1.5em;
        padding-right: 2em;
    }

    .nav ul li {
        padding-right: 1em;
    }
    .nameOne {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        width: 100%;
        /* right: 1.4em; */
        text-align: center;
        color: #fff;
        font-size: 3em;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .nameTwo{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 11.5em;
        left: 6.3em;
        transform: translateY(-50%);
        width: 100%;
        color: #fff;
        font-size: 1.5em;
        font-family: sans-serif;
        text-transform: uppercase;
        letter-spacing: .5em;
        margin-left: .3em;
    }

    .my-name h1 {
        position: relative;
        top: 3em;
        right: 9em;
        font-size: 2.5em;
        top: 3em;
        right: 6.6em;
        color: #00d2d3;
    }

    .timeline {
        position: relative;
      
    }
    .About {
        
        text-align: center;
        font-size: 2.5em;
       
        
    }
    

    .social {
        text-align: center;
        padding-top: 2em;
        letter-spacing: 1em;
        font-size: 1em;
    }
} 

@media ( max-width: 320px) {
    body {
        margin: 0;
        padding: 0;
        background: rgb(230,230,230);
        color: rgb(50,50,50);
        font-family: 'Open Sans', sans-serif;
        font-size: 106.5%;
        line-height: 1.6em;
        width: 18.1em;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        
        padding-top: 1.5em;
    }

    .nameOne{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 13em;
        transform: translateY(-50%);
        width: 100%;
        left: 0em;
        text-align: center;
        color: #fff;
        font-size: 2em;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .nameTwo{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 28.5em;
    left: 4em;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    font-size: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-left: .3em;
    }


    section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 96%;
        height: 100%;
        background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
        mix-blend-mode: color;
        pointer-events: none;
    }
    .container {
        color: wheat;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    nav {
        display: flex;
        width: 18em;
        height: 21em;
        justify-content: center;
        margin-left: 0em;
        background-color: white;
    }
    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-decoration: none;
        list-style: none;
        margin: .5em;
        padding-top: 1.5em;
    }

    .social {
        text-align: center;
        padding-top: 2em;
        letter-spacing: 1em;
        font-size: 1em;
        cursor: pointer;
     }


}
