

@media ( max-width: 768px ) {
    body {
        width: 31.2em;
        margin: 0;
        padding: 0;
        background: rgb(230,230,230);
        color: rgb(50,50,50);
        font-family: 'Open Sans', sans-serif;
        font-size: 75.5%;
        line-height: 1.6em;
    }
    .video {
        height: 38em;
        background: #000;
        overflow: hidden;
        width: 64em;
    }
   

    section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
        mix-blend-mode: color;
        pointer-events: none;
    }

    .nav ul {
        padding-right: 2em;
    }

    .nameOne {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 3em;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 5em;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .nameTwo {
        margin: 0;
    padding: 0;
    position: absolute;
    top: 9.5em;
    left: 11.5em;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    font-size: 2em;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-left: .3em;
    }

    .About h3  {
        position: relative;
        left: 4.3em;
        font-size: 1.5em;
    }
    

    .timeline {
        position: relative;
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 1em 0;
        list-style-type: none;
        left: 4em;
    }

    footer {
        position: relative;
        left: 15em;
        font-size: .9em;
        width: 43em;
    }
}
    
@media ( max-width: 500px ) {
    .nav {
        display: flex;
        justify-content: center;
        margin-right: 18em;
    }
   
    .nameOne {
        top: 4em;
    }
    .nameTwo {
        top:11.5em;
        left: 6em;
    }

    .About h3 {
        left: 1.3em;
    }

    .timeline {
        left: -5em;
    }

    footer {
        left: 2em;
    }

    
}

@media ( max-width: 375px)  {
    body {
        width: 31.2em;
        margin: 0;
        padding: 0;
        background: rgb(230,230,230);
        color: rgb(50,50,50);
        font-family: 'Open Sans', sans-serif;
        font-size: 75.5%;
        line-height: 1.6em;
    }

    .video {
        height: 50vh;
        /* background: #000; */
        overflow: hidden;
        width: 32em;
    }

    section.video::before {
        content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
    mix-blend-mode: color;
    pointer-events: none;
    }

    .nav {
        display: flex;
        justify-content: center;
        margin-right: 0em;
    }
    .nav ul {
        display: flex;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        /* margin: .5em; */
        padding-top: 1.5em;
        padding-right: 2em;
    }

    .nav ul li {
        padding-right: 1em;
    }
    .nameOne {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        width: 100%;
        /* right: 1.4em; */
        text-align: center;
        color: #fff;
        font-size: 3em;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .nameTwo{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 11.5em;
        left: 6.3em;
        transform: translateY(-50%);
        width: 100%;
        color: #fff;
        font-size: 1.5em;
        font-family: sans-serif;
        text-transform: uppercase;
        letter-spacing: .5em;
        margin-left: .3em;
    }

    .my-name h1 {
        position: relative;
        top: 3em;
        right: 9em;
        font-size: 2.5em;
        top: 3em;
        right: 6.6em;
        color: #00d2d3;
    }

    .timeline {
        position: relative;
        left: 0em;
        width: 26em;
    }


    .About {
        
        text-align: center;
        font-size: 2.5em;
       
        
    }
    .About h3 {
        left: 0.3em;
    }

    footer {
    position: relative;
   
    font-size: .9em;
    width: 33em;
}
    

    .social {
        text-align: center;
        padding-top: 2em;
        letter-spacing: 1em;
        font-size: 1em;
    }
} 

@media ( max-width: 320px) {
    body {
        margin: 0;
        padding: 0;
        background: rgb(230,230,230);
        color: rgb(50,50,50);
        font-family: 'Open Sans', sans-serif;
        font-size: .8em;
        line-height: 1.6em;
        width: 100%;
    }
    .nav {
        width: 25em;
    display: flex;
    }

    .nav ul {
        display: flex;
        justify-content: space-around;
        /* text-decoration: none; */
        /* list-style: none; */
        /* padding-top: 1.5em; */
        width: 34em;
        flex-basis: 100%;
        /* flex-direction: row; */
        margin-right: -3em;
        margin-left: 0em;
        padding: 1em;
    }

    .nav ul li {
        padding-right: 0em;
    }

    .video {
        height: 50vh;
        /* background: #000; */
        overflow: hidden;
        width: 25em;
    }
    .nameOne {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 4em;
        transform: translateY(-50%);
        width: 100%;
       
        text-align: center;
        color: #000;
        font-size: 2em;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    .nameTwo {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 10.5em;
        left: 8em;
        transform: translateY(-50%);
        width: 100%;
        color: #000;
        font-size: 1em;
        font-family: sans-serif;
        text-transform: uppercase;
        letter-spacing: .5em;
        margin-left: .3em;
    }

    .About {
        text-align: center;
        font-size: 1.5em;
    }

    .About h3 {
        left: .3em;
    }


    /* section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 96%;
        height: 100%;
        background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
        mix-blend-mode: color;
        pointer-events: none;
    } */
    .container {
        color: wheat;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    nav {
        display: flex;
        width: 18em;
        height: 21em;
        justify-content: center;
        margin-left: 0em;
        background-color: white;
    }
    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-decoration: none;
        list-style: none;
        margin: .5em;
        padding-top: 1.5em;
    }

    .timeline {
        position: relative;
        left: 0em;
        font-size: 1.2em;
        width: 21em;
    }

    .direction-l .flag:before, .direction-r .flag:before {
        position: absolute;
        top: -31px;
        left: 49.2%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255,80,80);
        z-index: 10;
    }
    .social {
        text-align: center;
        padding-top: 2em;
        letter-spacing: 1em;
        font-size: 1em;
        cursor: pointer;
    }

    footer {
        position: relative;
        font-size: 0.8em;
        width: 31em;
        left: 0em;
    }

}
